@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: black;
  color: white;
}

@font-face {
  font-family: 'berkeley';
  src: url('./fonts/BerkeleyMonoTrial-Regular.ttf');
}

.berkeley {
  font-family: 'berkeley';
}

#link {
  color: black;
  height: 0;
}

a {
  color: black;
}

#link:hover {
  color: white;
  width: auto;
  display: inline-block;
  height: 21px;
  background-color: black;
  transition: color .25s ease-in-out,box-shadow .3s ease-in-out;
  transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: white;
}

.link {
  box-sizing: border-box;
  
}